#editReviewContainer {
    margin: 100px auto;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 15px;
    width: 350px;
    align-items: center;
    padding: 20px;
    font-family: "Manrope", sans-serif;
    margin: 20px auto;
  }
  
  .editReviewHeading {
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
  }
  
  .comment-input {
    background-color: white;
    width: 100%;
    padding: 5px 0px;
  }
  
  .rating-input {
    display: flex;
  }
  
  .submit-button {
    background-color: rgb(244, 7, 7);
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  .submit-button:hover {
    background-color: darkred;
  }
  
  .submit-button-inactive {
    background-color:gray;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .submit-button-inactive:hover {
    background-color: gray;
  }

  .editBooking-container{
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background-color: lightgray;
    margin-bottom: 20px;
    width: 400px;
  }

  .booking-column{
    width: fit-content;
  }

  .update-booking-date{
    display: flex;
    flex-direction: column;
  }

  .title-style{
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-bottom: 5px;
  }

  .input-data{
    width: fit-content;
  }

  .tours-buttons:disabled {
    color: #acaaaa;
}

.tours-buttons:disabled:hover {
  background-color: white;
  color: #acaaaa;
  cursor: not-allowed;
}

.save-changes{
  display: flex;
  justify-content: center;
}
