.booking_details_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: auto;
    gap: 10px
}

.booking_details_left{
    width: 34%;
    margin-top: 15px;
}

.booking_details_right{
    width: 66%;
}

.booking_card{
    margin: 10px;
    padding: 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.fa-arrow-left{
    padding: 10px 0;
    font-size: x-large;
    cursor: pointer;
}

.booking_card_title{
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 22.65px;
    font-weight: bold;
    margin: 20px 0px;
    color: #2f3e46;
}

.booking_details_img {
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.booking_details_date{
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14;
    font-weight: 550;
    color: #2f3e46;
    height: 24px;
    padding-bottom: 10px;
}

.booking_details_sub{
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14px;
    color: #52796F;
    height: 24px;
}

.booking_details_cost{
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14;
    font-weight: 550;
    color: #2f3e46;
    height: 24px;
}

.booking_card_subtitle{
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14px;
    margin: 20px 0px;
    color: #354F52;
}

.booking_update_button_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.booking_update_buttons{
    background-color: #ffffff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14px;
    font-weight: 200;
    line-height: .0;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 110px;
    margin-right:10px;
  }

  .booking_update_buttons:disabled{
    color: gray;
    background-color: lightgray;
  }
  .booking_update_buttons:disabled:hover{
    color: gray;
    background-color: lightgray;
  }

  .booking_update_buttons:hover{
    background-color: #354F52;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: .0;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    /* transition: all .1s cubic-bezier(.4, 0, .2, 1); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 110px
  }

.times_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

.noAvail{
    margin: 10px 0;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.booking_date_input{
    /* width: fit-content; */
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgb(202, 210, 197);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: small;
    font-weight: 500;
    /* border-bottom: white solid 2px; */
    height: 25px;
    margin-top: 20px;
}

.booking_edit_button{
    background-color: #ffffff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14px;
    font-weight: 200;
    line-height: .0;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    margin-right:10px;
}

.booking_edit_button:hover{
    background-color: #354F52;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14px;
    font-weight: 200;
    line-height: .0;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    /* transition: all .1s cubic-bezier(.4, 0, .2, 1); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content
  }

  .booking_delete_button{
    background-color: #ffffff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14px;
    font-weight: 200;
    line-height: .0;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    margin-right:10px;
}

.booking_delete_button:hover{
    background-color: #78290f;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14px;
    font-weight: 200;
    line-height: .0;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    /* transition: all .1s cubic-bezier(.4, 0, .2, 1); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content
  }